<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.rustprovisioningclient.category"
            class="org.eclipse.rustprovisioningclient.NewCargoProjectWizard"
            id="org.eclipse.rustprovisioningclient.cargo"
            name="Cargo Wizard">
      </wizard>
      <category
            id="org.eclipse.rustprovisioningclient.category"
            name="Rust">
      </category>
   </extension>

</plugin>
