<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.rustprovisioningclient.category"
            class="org.eclipse.rustprovisioningclient.NewCargoProjectWizard"
            id="org.eclipse.rustprovisioningclient.cargo"
            name="Cargo Wizard"
            project="true">
      </wizard>
      <category
            id="org.eclipse.rustprovisioningclient.category"
            name="Rust">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.rustprovisioningclient.RustPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ppp4e.preferencePage"
            class="org.eclipse.rustprovisioningclient.RustProvisioningPreferencePage"
            id="org.eclipse.rustprovisioningclient.preferencePage"
            name="Rust">
      </page>
   </extension>

</plugin>
